body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: lightgray gray; /* Firefox */
    scroll-behavior: smooth;
}
/* all of this is chromium only */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-track {
    background: gray;
  }
body::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

@font-face {
    font-family: "Deansgate";
    src: url('Resources/Fonts/DeansgateCondensed-Bold.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('Resources/Fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "RobotoL";
    src: url('Resources/Fonts/Roboto-Light.ttf');
}


.bgSideDarkness {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #00000030, #00000000, #00000000, #00000000, #00000030);
    pointer-events: none;
}

#intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2dbd58;
}

.introText {
    font-family: "Deansgate";
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    transform: rotate(-3deg);
}

#introTitle {
    font-size: 80px;
    padding: 0 30px 0 30px;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, .5));
    animation: .6s .2s both introFade;
}
@keyframes introFade {
    0% {
        opacity: 0;
        transform: translateY(-50px) rotate(-3deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) rotate(-3deg);
    }
}

#introSubT {
    font-size: 24px;
    padding: 3px 15px 3px 15px;
    margin-top: 20px;
    animation: .7s .65s both subIntroFade;
}
@keyframes subIntroFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#introInfoSep {
    animation: introInfoAnim 1s 2.2s forwards;
    flex-grow: 0;
}
@keyframes introInfoAnim {
    100% {
        flex-grow: .25;
    }
}

#introInfo {
    /* display: none; */
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    max-width: 450px;
    padding: 16px;
    margin: 0px 20px;
    border-radius: 4px;
    text-align: center;
    font-family: "Roboto";
    animation: .7s 2.4s both subIntroFade;
    margin-top: -100px;
}

#introDesc {
    position: absolute;
    top: 90%;
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    text-align: center;
    filter: drop-shadow(0 0 3px black);
    cursor: pointer;
    transition: filter 100ms;
    animation: .6s 5s both descIntroFade;
}
#introDesc:hover {
    filter: drop-shadow(0 0 3px black) brightness(1.5);
}
#downIcon {
    margin-top: 5px;
    height: 30px;
    width: 30px;
    fill: white;
}
@keyframes descIntroFade {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.project {
    position: relative;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid grey;
    box-shadow: inset -1px 0px 4px #adadad40, 0 0 48px rgb(36, 36, 36);
}
.projectSt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform .25s, opacity .25s;
}

.projectTitle {
    font-family: "Deansgate";
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    transform: rotate(-3deg);
    font-size: 34px;
    padding: 0 15px 0 15px;
    filter: drop-shadow(5px 5px 0px rgba(20, 20, 20, 0.5));
    margin: 10px 0 25px 0;
}

.projectDesc {
    font-family: "Roboto";
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 0px black;
    text-align: center;
    max-width: 1000px;
    padding: 10px 0 10px 0;
}


#stBox {
    background-color: #444444;
}
#stPreview {
    width: 800px;
    filter: drop-shadow(0px 0px 10px black);
    padding: 10px 0 10px 0;
}

.vid {
    filter: drop-shadow(0px 0px 10px black);
    padding: 10px 0 10px 0;
    max-width: 720px;
}

#stRepos {
    background-color: #383841;
    transition: background-color .5s;
}

#stSelector {
    display: flex;
    align-items: center;
    gap: 20px;
}
.stButt {
    background: none;
    border: 2px solid gray;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: filter .15s, transform .2s;
    cursor: pointer;
    outline: none;
}
.stButt:hover, .stButt:focus-visible {
    filter: brightness(1.5);
}
#stPrev {
    transform: rotate(90deg);
}
#stPrev:hover, #stPrev:focus-visible {
    transform: rotate(90deg) translateY(5px);
}
#stNext {
    transform: rotate(-90deg);
}
#stNext:hover, #stNext:focus-visible {
    transform: rotate(-90deg) translateY(5px);
}
.stButtIcon {
    transform: translateY(1px);
    fill: grey;
}

#stMeleeBox, #stRRBox {
    display: none;
    opacity: 0;
}

.stDemo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid grey;
    margin-top: 10px;
    padding-top: 10px;
    transition: transform .25s, opacity .25s;
}

.stDemoTitle {
    color: white;
    font-family: "RobotoL";
    font-size: 22px;
    letter-spacing: 3px;
    border-bottom: 1px white solid;
    margin-bottom: 5px;
}

.pokeSTimg {
    max-width: 800px;
    filter: drop-shadow(0px 0px 10px black);
    padding: 10px 0 10px 0;
}


#pokeSTBox {
    background-color: #5a5633;
}
#pokeSTPreview {
    filter: drop-shadow(0px 0px 10px black);
    padding: 10px 0px 10px 0px;
}

#pokeSTSelector {
    display: flex;
    align-items: center;
    gap: 15px;
}
.pokeButt {
    background: none;
    border: 2px solid lightgray;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    transition: filter .15s, transform .2s;
    cursor: pointer;
    outline: none;
}
.pokeButt:hover, .pokeButt:focus-visible {
    filter: brightness(1.5);
}
#pokePrev {
    transform: rotate(90deg);
}
#pokePrev:hover, #pokePrev:focus-visible {
    transform: rotate(90deg) translateY(3px);
}
#pokeNext {
    transform: rotate(-90deg);
}
#pokeNext:hover, #pokeNext:focus-visible {
    transform: rotate(-90deg) translateY(3px);
}
.pokeButtIcon {
    transform: translateY(1px);
    fill: lightgray;
}

#pokeBW, #pokeIntro {
    display: none;
    opacity: 0;
}


#customColorsBox {
    background-image: linear-gradient(to right, #3c3d6e, #4e4f88, #4e4f88, #4e4f88, #3c3d6e);
}

#recolorerBox {
    background-image: linear-gradient(to right, #3d3069, #514188, #514188, #514188, #3d3069);
}

#replayReaderBox {
    background-color: #292C35;
}


#aboutBox {
    background-image: linear-gradient(to right, #32331d, #424429, #424429, #424429, #32331d);

}
#socialIcons {
    display: flex;
}
.buttonsBot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    transition: filter 100ms;
    margin: 0px 3px 0px 3px;
}
.buttonsBot:hover {
    filter: brightness(1.2);
    cursor: pointer;
}
.buttonsBot:active {
    filter: brightness(.9);
}
#mastoButton {
    background-color: #6479be;
}
#mastoIcon {
    height: 21px;
    width: 21px;
    fill: white;
}
#kofiButton {
    background-color: #64b3be;
}
#kofiIcon {
    height: 21px;
    width: 21px;
    fill: white;
    transform: translate(1px, 1px);
}
#githubButton {
    background-color: #292929;
}
#githubIcon {
    height: 23px;
    width: 23px;
    fill: white;
    transform: translate(0px, 1px);
}

@media (max-width: 650px) {

    .bgSideDarkness {
        display: none;
    }

    #introTitle {
        font-size: 40px;
        padding: 0 20px 0 20px;
        filter: drop-shadow(7px 7px 0px rgba(0, 0, 0, .5));
    }
    #introSubT {
        font-size: 20px;
    }
    #introInfo {
        padding: 10px;
        font-size: 16px;
    }
    #introDesc {
        font-size: 16px;
        max-width: 80%;
    }

    .projectTitle {
        font-size: 30px;
    }
    .projectDesc {
        max-width: 90%;
        text-align: justify;
        text-align-last: center;
    }

    .vid, #stPreview, #pokeSTPreview, .pokeSTimg {
        max-width: 100%;
    }

    #customColorsBox {
        background-image: linear-gradient(to right, #4e4f88, #4e4f88);
    }
    #recolorerBox {
        background-image: linear-gradient(to right, #514188, #514188);
    }
    #aboutBox {
        background-image: linear-gradient(to right, #424429, #424429);
    }

}